@{
    ViewData["Title"] = "Edit Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PresentationWeb.Models.EditPerson
<h2>Index</h2>

<form asp-action="EditPerson">
    <div class="form-horizontal">
        <h4>EditPerson</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group hidden">
            <label asp-for="PersonID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PersonID" class="form-control disabled"  />
                <span asp-validation-for="PersonID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input data-toggle="datepicker" asp-for="DateOfBirth" class="form-control datepicker" asp-format="{0:MM/dd/yyyy}" />
                <div data-toggle="datepicker"></div>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
