@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Create Person";

}

<h2>Add new Person</h2>
<form action="/Home/SaveNewPerson" method="post">
    <div>
        <label for="txtFirstName">First Name:</label>
        <input type="text" id="txtFirstName" name="txtFirstName" />
    </div>
    
    <div>
        <label for="txtLastName">Last Name:</label>
        <input type="text" id="txtLastName" name="txtLastName" />
    </div>

    <div>
        <label for="txtDateOfBirth">Date of Birth:</label>
        <input type="date" id="txtDateOfBirth" name="txtDateOfBirth" />
    </div>
    <p class="alert-info">@ViewBag.InsertResult<p />
    <input type="submit" value="Submit" />
</form>