@using Microsoft.AspNetCore.Mvc.Localization

@model  PresentationWeb.Models.CreatePerson

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["AddPerson"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="SavePerson">
    <div class="form-horizontal">
        <h4>@Localizer["AddPerson"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
                        
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <label class="succesMessage" >@ViewBag.successMessage</label>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
